extends layout
block content
 h1= title
 form(id='VacuumCleanerForm', action="/resource/vacuumcleaner", method="POST")
  div.form-group
   label.vacuumcleanerStyle(for='vacuumcleanerProductID') VacuumCleaner ProductID
   input#vacuumcleanerProductID(type='number', name='vacuumcleanerProductID')
  div.form-group
   label.vacuumcleanerStyle(for='vacuumcleanerDateOfManufacturing') VacuumCleaner DateOfManufacturing
   input#vacuumcleanerDateOfManufacturing(type='text', name='vacuumcleanerDateOfManufacturing')
  div.form-group
   label.vacuumcleanerStyle(for='vacuumcleanerWarrantyinYears') VacuumCleaner WarrantyinYears
   input#vacuumcleanerWarrantyinYears(type='number', name='vacuumcleanerWarrantyinYears')
  input(type="submit")

 script.
  document.forms['VacuumCleanerForm'].addEventListener('submit', (event) => {
  event.preventDefault();
  // TODO do something here to show user that form is being submitted
  fetch(event.target.action, {
   method: 'POST',
   body: new URLSearchParams(new FormData(event.target)) // event.target is the form
  }).then((resp) => {
   return resp.json(); // or resp.text() or whatever the server sends
  }).then((body) => {
   alert("Save succeded")
  // TODO handle body
  }).catch((error) => {
  // TODO handle error
   alert("Save failed " + error )
   });
  });